$conteiner-sm: 720px;
$conteiner-md: 1004px;
$conteiner-lg: 1170px;

$grey-text: #2a2928;
$yellow-text: #fffc8f;
$line-color: #cac5cb;
$article-slider-bg: #f8f4f3 ;
$grey-line: #cfcbca;

$cormorant-garamond: 'Cormorant Garamond', serif;
$proza-libre: 'Proza Libre', sans-serif;
