$conteiner-sm: 720px;
$conteiner-md: 1004px;
$conteiner-lg: 1170px;

$grey-text: #2a2928;
$light-grey-text: #918e8b;
$yellow-text: #fffc8f;
$line-color: #cac5cb;
$site-bg: #f8f4f3 ;
$grey-line: #cfcbca;
$main-bg: #f2eae6;
$sound-player-slider: #f1dfdd;
$most-read-article: #f2eae6;

$cormorant-garamond: 'Cormorant Garamond', serif;
$proza-libre: 'Proza Libre', sans-serif;
