* {
  box-sizing: border-box;
}

body {
  font-family: "Cormorant Garamond", serif;
  color: #2a2928;
}

.site {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 70px)) 1fr;
  grid-auto-rows: auto;
}

.header {
  grid-column: span 14;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0 30px;
  grid-auto-rows: auto;
  align-items: center;
  background-image: url("images/slider-bg.png");
}
.header .line {
  grid-column: 1/4;
}

.logo {
  grid-column: 2;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.logo img {
  height: 20px;
}

.logo-date {
  font-family: "Proza Libre", sans-serif;
  font-size: 14px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #cac5cb;
}

.menu {
  padding: 30px 0;
  grid-column: 2;
  font-family: "Proza Libre", sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu a {
  color: #2a2928;
}
.menu a:hover {
  border-bottom: 2px solid #2a2928;
}

.navigation a {
  text-decoration: none;
}

.nav-mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.nav-mobile-menu span {
  margin: 3px 0;
  height: 2px;
  background-color: #2a2928;
  transition: 0.25s ease-in-out;
}
.nav-mobile-menu span:first-child {
  width: 30px;
}
.nav-mobile-menu span:nth-child(2) {
  width: 15px;
}
.nav-mobile-menu span:last-child {
  width: 25px;
}

.search input {
  width: 130px;
  background: none;
}

.search,
.follow-us {
  display: flex;
  align-items: center;
}

.follow-us {
  justify-content: space-between;
  gap: 30px;
}
.follow-us button:hover img {
  filter: invert(50%);
}

.slider {
  display: grid;
  grid-template-columns: minmax(auto, 70px) auto minmax(auto, 1fr) auto minmax(auto, 70px);
  grid-template-rows: auto auto auto;
  grid-column-gap: 30px;
  background-image: url("images/slider-bg.png");
  background-size: cover;
  grid-column: span 14;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.slider-item-number {
  grid-column: 3;
  grid-row: 1;
  padding: 90px 0 25px;
  font-size: 20px;
  font-weight: bold;
}

.big-title {
  font-size: 30px;
  font-weight: bold;
}
.big-title a {
  color: #fffc8f;
}

.slider-item-titel {
  grid-column: 3;
  grid-row: 2;
  padding: 25px 0;
}

.slider-item-number,
.slider-item-titel {
  justify-self: stretch;
  text-align: center;
}

.text-line {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.slider-number-prev {
  grid-column: 1;
  transform: rotate(-90deg);
  left: -80px;
}

.slider-number-next {
  grid-column: 5;
  transform: rotate(-90deg);
  right: -45px;
}

.slider-number-prev,
.slider-number-next {
  grid-row: 2/3;
  align-self: center;
  color: white;
  position: absolute;
  font-size: 150px;
  font-weight: bold;
}

.slider-prev,
.slider-next {
  position: relative;
  padding: 10px 12px;
  width: 45px;
  height: 45px;
  color: #fffc8f;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #fffc8f;
  border-radius: 50%;
  grid-row: 2;
  align-self: center;
}
.slider-prev::after,
.slider-next::after {
  content: "";
  height: 2px;
  width: 60px;
  background-color: #fffc8f;
  position: absolute;
}
.slider-prev:hover,
.slider-next:hover {
  border-color: #bfbe87;
}
.slider-prev:hover::after,
.slider-next:hover::after {
  background-color: #bfbe87;
}

.slider-prev {
  grid-column: 2;
}
.slider-prev::after {
  left: 35px;
  top: 20px;
}
.slider-prev:hover .slider-prev::after {
  background-color: #e9e8a9;
}

.slider-next {
  grid-column: 4;
}
.slider-next::after {
  right: 35px;
  top: 20px;
}

.events {
  grid-column: 3;
  grid-row: 3;
  align-self: center;
  justify-self: center;
  padding: 45px 0 85px;
  color: white;
}

.event-name {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}

.event-date {
  font-family: "Proza Libre", sans-serif;
  font-size: 10px;
  text-align: center;
  margin-top: 7px;
}

.yellow-text {
  color: #fffc8f;
}

.event-read-more {
  grid-column: 3;
  grid-row: 4;
  align-self: center;
  justify-self: center;
  padding: 85px 0 60px;
}
.event-read-more:hover img {
  filter: contrast(50%);
}

.article-slider {
  grid-column: span 14;
  display: grid;
  grid-template-columns: auto minmax(auto, 1fr) auto;
  background-color: #f8f4f3;
}

.article-slider-prev,
.article-slider-next {
  writing-mode: vertical-rl;
  display: flex;
  flex-direction: row-reverse;
  transform: rotate(180deg);
  padding: 30px 5px;
  justify-content: space-between;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  position: relative;
}
.article-slider-prev::after,
.article-slider-next::after {
  content: "";
  position: absolute;
  height: 70%;
  width: 1px;
  background-color: #cfcbca;
  top: 15%;
}

.article-slider-prev {
  grid-column: 1/2;
  justify-self: start;
}
.article-slider-prev::after {
  left: 0px;
}

.article-slider-next {
  grid-column: 3/4;
}
.article-slider-next::after {
  right: 0px;
}

.article-slider-number {
  transform: rotate(90deg);
  font-style: normal;
}

.article-slider-theme {
  font-size: 18px;
}

.article-slider-prev-button {
  transform: rotate(180deg);
}

.article-slider-next-button:hover img,
.article-slider-prev-button:hover img {
  filter: invert(100%);
}

.article-slides {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 40px 0;
}

.article-slide {
  padding: 25px;
  display: grid;
  grid-template-columns: auto auto minmax(auto, 1fr) auto;
  grid-template-rows: auto auto auto auto;
}
.article-slide .comment-share-button {
  grid-column: 4/5;
  grid-row: 1/2;
}
.article-slide .title {
  grid-column: 1/4;
  grid-row: 2/3;
  padding: 15px 0;
}
.article-slide .text {
  grid-column: 1/4;
  grid-row: 3/4;
}
.article-slide .read-more {
  grid-column: 1/2;
  grid-row: 4/5;
  margin: 20px 0;
}

.article-slide-img {
  grid-column: 1/2;
  grid-row: 1/2;
}
.article-slide-img:hover {
  filter: drop-shadow(0 10px 10px #d4d4d4);
}

.article-slide-data {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  gap: 15px;
  font-size: 16px;
  font-weight: bold;
}

.comment-share-button {
  display: flex;
  gap: 15px;
}

.comment:hover img,
.share:hover img {
  filter: blur(0.6px);
  background: #000;
  border-radius: 50%;
}

.title {
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
}

.title-line {
  position: relative;
  z-index: 100;
}
.title-line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: #fffc8f;
  left: 0;
  top: 14px;
  z-index: -1;
}

.text {
  font-family: "Proza Libre", sans-serif;
  font-size: 14px;
}

.read-more {
  color: #2a2928;
  font-family: "Proza Libre", sans-serif;
  font-size: 14px;
}

.main {
  background: #f2eae6;
  display: grid;
  grid-template-columns: auto auto minmax(auto, 1fr) auto;
  grid-template-rows: auto auto auto auto;
}
.main .tag {
  grid-column: 2/3;
  grid-row: 1/2;
}
.main .comment-share-button {
  grid-column: 4/5;
  grid-row: 1/2;
  align-self: end;
}
.main .big-title {
  grid-column: 2/5;
  grid-row: 2/3;
}
.main .text {
  grid-column: 2/5;
  grid-row: 3/4;
  margin-top: 55px;
}
.main .read-more {
  grid-column: 2/3;
  grid-row: 4/5;
  margin-top: 100px;
}

.paginator {
  writing-mode: vertical-lr;
  grid-column: 1/2;
  grid-row: 3/5;
  padding: 30px 5px;
  transform: rotate(180deg);
  display: flex;
  justify-content: space-between;
}

.tag {
  font-weight: bold;
  font-size: 16px;
}

@media (max-width: 767px) {
  .menu {
    flex-direction: row-reverse;
  }
  .menu .navigation {
    display: none;
  }

  .search {
    flex-direction: row-reverse;
    gap: 10px;
  }

  .slider-prev,
.slider-next {
    width: 30px;
    height: 30px;
    font-size: 12px;
    padding: 6px 7px;
  }
  .slider-prev::after,
.slider-next::after {
    width: 40px;
  }

  .slider-prev::after {
    left: 20px;
    top: 12px;
  }

  .slider-next::after {
    right: 20px;
    top: 12px;
  }

  .comment-share-button {
    flex-direction: column;
  }

  .main {
    grid-column: 1/15;
    padding: 20px 5px 20px 0;
  }
  .main .big-title {
    text-align: center;
  }
  .main .text {
    text-align: center;
  }
}
@media (max-width: 1023px) {
  .menu .follow-us {
    display: none;
  }

  .article-slide .title {
    text-align: center;
  }
  .article-slide .text {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .navigation {
    display: flex;
    gap: 20px;
  }

  .nav-mobile-menu {
    display: none;
  }

  .slider-item-number {
    padding: 100px 0 30px;
    font-size: 25px;
  }

  .slider-item-titel {
    font-size: 50px;
    padding: 30px 10px;
  }

  .slider-number-prev,
.slider-number-next {
    font-size: 250px;
  }

  .slider-number-prev {
    left: -130px;
  }

  .slider-number-next {
    right: -70px;
  }

  .event-name {
    font-size: 20px;
  }

  .event-date {
    font-size: 12px;
    margin-top: 10px;
  }

  .article-slider-prev,
.article-slider-next {
    padding: 40px;
  }

  .paginator {
    padding: 40px;
  }

  .main {
    grid-column: 1/8;
    padding: 100px 40px 100px 0;
  }
}
@media (min-width: 1024px) {
  .slider-item-number {
    padding: 110px 0 35px;
  }

  .big-title {
    font-size: 70px;
  }

  .slider-item-titel {
    padding: 35px 10px;
  }

  .slider-number-prev,
.slider-number-next {
    font-size: 300px;
  }

  .slider-number-prev {
    left: -160px;
  }

  .slider-number-next {
    right: -90px;
  }

  .event-name {
    font-size: 25px;
  }

  .event-date {
    font-size: 14px;
  }

  .article-slides {
    display: flex;
  }

  .article-slide .title {
    padding: 30px 0;
  }
  .article-slide .read-more {
    margin: 70px 0;
  }

  .title {
    font-size: 36px;
  }

  .title-line::after {
    content: "";
    height: 20px;
    top: 25px;
  }
}
@media (min-width: 1200px) {
  .navigation {
    gap: 40px;
  }

  .slider-item-number {
    padding: 130px 0 45px;
    font-size: 30px;
  }

  .big-title {
    font-size: 89.9px;
  }

  .slider-item-titel {
    padding: 45px 10px;
  }

  .slider-number-prev,
.slider-number-next {
    font-size: 342.53px;
  }

  .slider-number-prev {
    left: -190px;
  }

  .slider-number-next {
    right: -110px;
  }

  .event-name {
    font-size: 30px;
  }

  .event-date {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
