* {
  box-sizing: border-box;
}

body {
  font-family: "Cormorant Garamond", serif;
  color: #2a2928;
  background-color: #f8f4f3;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0 30px;
  align-items: center;
  background-image: url("images/slider-bg.png");
}
.header .line {
  grid-column: 1/4;
}

.logo {
  grid-column: 2;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.logo img {
  height: 20px;
}

.logo-date {
  font-family: "Proza Libre", sans-serif;
  font-size: 14px;
}

.line {
  grid-area: line;
  height: 1px;
  width: 100%;
  background-color: #cac5cb;
}

.menu {
  padding: 30px 0;
  grid-column: 2;
  font-family: "Proza Libre", sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu a {
  color: #2a2928;
}
.menu a:hover {
  border-bottom: 2px solid #2a2928;
}

.navigation a {
  text-decoration: none;
}

.nav-mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.nav-mobile-menu span {
  margin: 3px 0;
  height: 2px;
  background-color: #2a2928;
  transition: 0.25s ease-in-out;
}
.nav-mobile-menu span:first-child {
  width: 30px;
}
.nav-mobile-menu span:nth-child(2) {
  width: 15px;
}
.nav-mobile-menu span:last-child {
  width: 25px;
}

.search input {
  width: 130px;
  background: none;
}

.search,
.follow-us {
  display: flex;
  align-items: center;
}

.follow-us {
  justify-content: space-between;
  gap: 30px;
}
.follow-us button {
  cursor: pointer;
}
.follow-us button:hover img {
  filter: invert(50%);
}

.slider {
  display: grid;
  grid-template-columns: minmax(auto, 70px) auto minmax(auto, 1fr) auto minmax(auto, 70px);
  grid-column-gap: 30px;
  background-image: url("images/slider-bg.png");
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.slider-item-number {
  grid-column: 3;
  grid-row: 1;
  padding: 90px 0 25px;
  font-size: 20px;
  font-weight: bold;
}

.big-title {
  grid-area: big-title;
  font-size: 30px;
  font-weight: bold;
}
.big-title a {
  color: #fffc8f;
}

.slider-item-titel {
  grid-column: 3;
  grid-row: 2;
  padding: 25px 0;
}

.slider-item-number,
.slider-item-titel {
  justify-self: stretch;
  text-align: center;
}

.text-line {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-decoration-style: solid;
  text-decoration-color: #2a2928;
  text-decoration-thickness: 2px;
  text-underline-offset: 1px;
}

.yellow-text.text-line {
  text-decoration-color: #fffc8f;
}

.italic {
  font-style: italic;
}

.slider-number-prev {
  grid-column: 1;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  left: -100px;
}

.slider-number-next {
  grid-column: 5;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  right: -60px;
}

.slider-number-prev,
.slider-number-next {
  grid-row: 2/3;
  align-self: center;
  color: white;
  position: absolute;
  font-size: 150px;
  font-weight: bold;
}

.slider-prev,
.slider-next {
  position: relative;
  padding: 10px 12px;
  width: 45px;
  height: 45px;
  color: #fffc8f;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #fffc8f;
  border-radius: 50%;
  grid-row: 2;
  align-self: center;
}
.slider-prev::after,
.slider-next::after {
  content: "";
  height: 2px;
  width: 60px;
  background-color: #fffc8f;
  position: absolute;
}
.slider-prev:hover,
.slider-next:hover {
  border-color: #bfbe87;
}
.slider-prev:hover::after,
.slider-next:hover::after {
  background-color: #bfbe87;
}

.slider-prev {
  grid-column: 2;
}
.slider-prev::after {
  left: 35px;
  top: 20px;
}
.slider-prev:hover .slider-prev::after {
  background-color: #e9e8a9;
}

.slider-next {
  grid-column: 4;
}
.slider-next::after {
  right: 35px;
  top: 20px;
}

.events {
  grid-column: 3;
  grid-row: 3;
  align-self: center;
  justify-self: center;
  padding: 45px 0 85px;
  color: white;
}

.event-name {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}

.event-date {
  font-family: "Proza Libre", sans-serif;
  font-size: 10px;
  text-align: center;
  margin-top: 7px;
}

.yellow-text {
  color: #fffc8f;
}

.event-read-more {
  grid-column: 3;
  grid-row: 4;
  align-self: center;
  justify-self: center;
  padding: 85px 0 60px;
}
.event-read-more:hover img {
  filter: contrast(50%);
}

.article-slider {
  display: grid;
  grid-template-columns: auto minmax(auto, 1fr) auto;
}

.article-slider-prev,
.article-slider-next {
  writing-mode: vertical-rl;
  display: flex;
  flex-direction: row-reverse;
  transform: rotate(180deg);
  padding: 30px 5px;
  justify-content: space-between;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  position: relative;
}
.article-slider-prev::after,
.article-slider-next::after {
  content: "";
  position: absolute;
  height: 70%;
  width: 1px;
  background-color: #cfcbca;
  top: 15%;
}

.article-slider-prev {
  grid-column: 1/2;
  justify-self: start;
}
.article-slider-prev::after {
  left: 0px;
}
.article-slider-prev .arrow-prev-button {
  transform: rotate(180deg);
}

.article-slider-next {
  grid-column: 3/4;
}
.article-slider-next::after {
  right: 0px;
}

.article-slider-number {
  transform: rotate(90deg);
  font-style: normal;
}

.article-slider-theme {
  font-size: 18px;
}

.arrow-next-button:hover img,
.arrow-prev-button:hover img {
  filter: invert(100%);
}

.arrow-prev-button {
  grid-area: arrow-prev-button;
}

.arrow-next-button {
  grid-area: arrow-next-button;
}

.article-slides {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 40px 0;
}

.article-slide {
  padding: 25px;
  display: grid;
  grid-template-columns: auto auto minmax(auto, 1fr) auto;
  grid-template-rows: auto auto auto auto;
}
.article-slide .comment-share-button {
  grid-column: 4/5;
  grid-row: 1/2;
}
.article-slide .title {
  grid-column: 1/5;
  grid-row: 2/3;
  padding: 15px 0;
}
.article-slide .text {
  grid-column: 1/5;
  grid-row: 3/4;
}
.article-slide .read-more {
  grid-column: 1/2;
  grid-row: 4/5;
  margin: 20px 0;
}

.article-slide-img {
  grid-column: 1/2;
  grid-row: 1/2;
}
.article-slide-img:hover {
  filter: drop-shadow(0 10px 10px #d4d4d4);
}

.article-slide-data {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  gap: 15px;
  font-size: 16px;
  font-weight: bold;
}

.comment-share-button {
  display: flex;
  gap: 15px;
  grid-area: comment-share-button;
}

.comment:hover img,
.share:hover img {
  filter: blur(0.6px);
  background: #000;
  border-radius: 50%;
}

.title {
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  grid-area: title;
}

.title-line {
  position: relative;
  z-index: 100;
}
.title-line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: #fffc8f;
  left: 0;
  top: 14px;
  z-index: -1;
}

.text {
  font-family: "Proza Libre", sans-serif;
  font-size: 14px;
  grid-area: text;
}
.text .text-line {
  text-decoration-thickness: 1px;
  text-underline-offset: 0px;
  text-decoration-color: #918e8b;
}

.read-more {
  color: #2a2928;
  font-family: "Proza Libre", sans-serif;
  font-size: 14px;
}

.main {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: "main-article" "full-sound-player-img" "sound-player";
}

.main-article {
  grid-area: main-article;
  background: #f2eae6;
  display: grid;
  grid-template-columns: auto auto minmax(auto, 1fr) auto;
  grid-template-rows: auto auto auto auto;
}
.main-article .tag {
  grid-column: 2/3;
  grid-row: 1/2;
}
.main-article .comment-share-button {
  grid-column: 4/5;
  grid-row: 1/2;
  align-self: end;
}
.main-article .big-title {
  grid-column: 2/5;
  grid-row: 2/3;
}
.main-article .text {
  grid-column: 2/5;
  grid-row: 3/4;
  margin-top: 55px;
}
.main-article .read-more {
  grid-column: 2/3;
  grid-row: 4/5;
  margin-top: 100px;
}

.paginator {
  writing-mode: vertical-lr;
  grid-column: 1/2;
  grid-row: 3/5;
  padding: 30px 5px;
  transform: rotate(180deg);
  display: flex;
  justify-content: space-between;
}

.tag {
  font-weight: bold;
  font-size: 16px;
}

.full-sound-player-img {
  grid-area: full-sound-player-img;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sound-player {
  grid-area: sound-player;
  display: grid;
  grid-template-columns: auto minmax(auto, 1fr) auto auto;
  gap: 0 15px;
  padding: 5px;
}
.sound-player .arrow-next-button {
  grid-column: 4/5;
  grid-row: 1/2;
  transform: rotate(180deg);
}
.sound-player .arrow-prev-button {
  grid-column: 4/5;
  grid-row: 3/4;
}

.sound-player-img {
  grid-column: 1/2;
  grid-row: 1/5;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sound-player-img img {
  border-radius: 50%;
  width: 100%;
}
.sound-player-img:hover {
  filter: drop-shadow(0 10px 10px #d4d4d4);
}

.play-pause-sound {
  position: absolute;
  height: 50%;
  width: 50%;
  cursor: pointer;
}

.sound-number {
  grid-column: 2/3;
  grid-row: 1/2;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 0;
}

.sound-name {
  grid-column: 2/3;
  grid-row: 2/3;
  font-family: "Proza Libre", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.sound-date {
  grid-column: 2/3;
  grid-row: 3/4;
  color: #918e8b;
  font-weight: 500;
  font-size: 16px;
}

.sound-time-left {
  grid-column: 3/4;
  grid-row: 3/4;
}

.sound-player-time-slider {
  margin-top: 10px;
  grid-column: 2/4;
  grid-row: 4/5;
  height: 1px;
  width: 100%;
  background-color: #f1dfdd;
  position: relative;
}
.sound-player-time-slider .elapsed {
  height: 5px;
  width: 50%;
  position: absolute;
  top: -5px;
  left: 0;
  background-color: #f1dfdd;
}

.hot-topics {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 30px;
  justify-items: center;
  grid-template-areas: ". big-title ." ". topics-list ." ". load-more ." ". more-topics-pages ." ". line .";
}
.hot-topics .big-title {
  margin-top: 30px;
}
.hot-topics .line {
  margin: 0 0 30px;
}

.topics-row {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.topics-list {
  display: grid;
  gap: 30px 0;
  grid-area: topics-list;
}

.topic {
  display: grid;
  gap: 10px 0;
  grid-template-areas: "img img img" "tag . comment-share-button" "title title title" "text text text" "topic-autor topic-autor .";
}
.topic > img {
  grid-area: img;
  width: 100%;
  object-fit: cover;
}
.topic .comment-share-button {
  justify-self: end;
}

.topic-autor {
  grid-area: topic-autor;
  color: #918e8b;
  font-size: 16px;
  font-style: italic;
}

.load-more {
  grid-area: load-more;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  font-family: "Proza Libre", sans-serif;
  font-size: 14px;
  margin-top: 30px;
}
.load-more button {
  cursor: pointer;
}
.load-more button:hover {
  color: #918e8b;
}

.more-topics-pages {
  width: 100%;
  grid-area: more-topics-pages;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "arrow-prev-button topics-pages arrow-next-button";
}
.more-topics-pages .arrow-next-button {
  transform: rotate(180deg);
}

.topics-pages {
  grid-area: topics-pages;
  display: flex;
  gap: 20px;
  font-family: "Proza Libre", sans-serif;
  font-size: 14px;
  color: #918e8b;
  justify-self: center;
}
.topics-pages li:last-child {
  color: #2a2928;
}
.topics-pages .title-line {
  color: #2a2928;
}
.topics-pages .title-line::after {
  height: 15px;
  top: 5px;
}
.topics-pages li {
  cursor: pointer;
}
.topics-pages li:hover {
  color: #2a2928;
}
.topics-pages div {
  cursor: default;
}

.most-read {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: ". big-title ." ". most-read-article ." ". line .";
  justify-items: center;
  gap: 30px;
}
.most-read .big-title .text-line {
  text-decoration-color: #fffc8f;
}
.most-read .line {
  margin: 0 0 30px;
}

.most-read-article {
  grid-area: most-read-article;
  display: grid;
  gap: 30px;
  grid-template-areas: "article" "article" "article" "article";
}

.article {
  height: 270px;
  width: 270px;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.article .comment-share-button {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -10px;
  right: -10px;
  gap: 10px;
  transform: rotate(-90deg);
}
.article .comment-share-button button {
  transform: rotate(90deg);
}
.article::after {
  opacity: 0;
  visibility: hidden;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #f2eae6;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}
.article:hover {
  background-color: #f2eae6;
  border-radius: 50%;
}
.article:hover .comment-share-button, .article:hover::after {
  opacity: 1;
  visibility: visible;
}

.article-data {
  grid-area: article-data;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subscribe {
  display: grid;
  justify-items: center;
  grid-template-columns: auto 1fr auto;
  gap: 0 30px;
}
.subscribe .big-title {
  grid-column: 2/3;
  grid-row: 1/2;
}
.subscribe form {
  width: 100%;
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 6px;
  margin: 20px 0;
  background-color: white;
  border-radius: 25px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.subscribe form button {
  background-color: #f2eae6;
  height: 100%;
  padding: 0 18px;
  border-radius: 25px;
  font-family: "Proza Libre", sans-serif;
}
.subscribe form button:hover {
  background-color: #f0d7cd;
}
.subscribe form input {
  margin-left: 15px;
  font-family: "Proza Libre", sans-serif;
  width: 150px;
}
.subscribe form input::placeholder {
  color: #cac5cb;
}

.footer {
  background-color: #f2eae6;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0 30px;
  grid-template-areas: ". footer-menu ." ". line ." ". copyright .";
}

.footer-menu {
  grid-area: footer-menu;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  font-family: "Proza Libre", sans-serif;
  color: #918e8b;
}
.footer-menu .navigation a {
  color: #918e8b;
}
.footer-menu .navigation a:hover {
  color: #2a2928;
}
.footer-menu img,
.footer-menu .follow-us img {
  filter: invert(50%);
}
.footer-menu img:hover,
.footer-menu .follow-us img:hover {
  filter: none;
}

.copyright {
  grid-area: copyright;
  margin: 30px 0;
  color: #918e8b;
  font-family: "Proza Libre", sans-serif;
  font-size: 12px;
}

@media (max-width: 767px) {
  .menu {
    flex-direction: row-reverse;
  }
  .menu .navigation {
    display: none;
  }
  .menu .search {
    flex-direction: row-reverse;
    gap: 10px;
  }

  .slider-prev,
.slider-next {
    width: 30px;
    height: 30px;
    font-size: 12px;
    padding: 6px 7px;
  }
  .slider-prev::after,
.slider-next::after {
    width: 40px;
  }

  .slider-prev::after {
    left: 20px;
    top: 12px;
  }

  .slider-next::after {
    right: 20px;
    top: 12px;
  }

  .comment-share-button {
    flex-direction: column;
  }

  .main-article {
    padding: 20px 5px 20px 0;
  }
  .main-article .big-title {
    text-align: center;
  }
  .main-article .text {
    text-align: center;
  }

  .topic .comment-share-button {
    flex-direction: row;
  }
  .topic .title {
    text-align: center;
  }

  .article .comment-share-button {
    flex-direction: row;
  }

  .footer .follow-us {
    display: none;
  }
}
@media (max-width: 1023px) {
  .menu .follow-us {
    display: none;
  }

  .article-slide .title {
    text-align: center;
  }
  .article-slide .text {
    text-align: center;
  }

  .sound-player-img {
    width: 50px;
    height: 50px;
  }

  .footer .navigation {
    display: none;
  }
}
@media (min-width: 768px) {
  .navigation {
    display: flex;
    gap: 20px;
  }

  .nav-mobile-menu {
    display: none;
  }

  .slider-item-number {
    padding: 100px 0 30px;
    font-size: 25px;
  }

  .slider-item-titel {
    font-size: 50px;
    padding: 30px 10px;
  }

  .slider-number-prev,
.slider-number-next {
    font-size: 250px;
  }

  .slider-number-prev {
    left: -160px;
  }

  .slider-number-next {
    right: -100px;
  }

  .event-name {
    font-size: 20px;
  }

  .event-date {
    font-size: 12px;
    margin-top: 10px;
  }

  .article-slider-prev,
.article-slider-next {
    padding: 40px;
  }

  .paginator {
    padding: 40px;
  }

  .main-article {
    padding: 100px 40px 100px 0;
  }

  .main {
    grid-template-columns: 4fr 3fr;
    grid-template-areas: "main-article full-sound-player-img" "main-article sound-player";
  }

  .topics-list {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .most-read-article {
    grid-template-areas: "article article" "article article";
  }

  .subscribe form {
    margin: 20px 0 45px;
    width: 570px;
  }
  .subscribe form input {
    width: 250px;
  }

  .footer-menu {
    margin: 45px 0;
  }
}
@media (min-width: 1024px) {
  .slider-item-number {
    padding: 110px 0 35px;
  }

  .big-title {
    font-size: 70px;
  }

  .slider-item-titel {
    padding: 35px 10px;
  }

  .slider-number-prev,
.slider-number-next {
    font-size: 300px;
  }

  .slider-number-prev {
    left: -190px;
  }

  .slider-number-next {
    right: -120px;
  }

  .event-name {
    font-size: 25px;
  }

  .event-date {
    font-size: 14px;
  }

  .article-slides {
    display: flex;
  }

  .article-slide .title {
    padding: 30px 0;
  }
  .article-slide .read-more {
    margin: 70px 0;
  }

  .title {
    font-size: 36px;
  }

  .title-line::after {
    content: "";
    height: 20px;
    top: 25px;
  }

  .sound-player-img {
    width: 100px;
    height: 100px;
  }

  .text-line {
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
  }

  .sound-player {
    padding: 17px;
  }

  .hot-topics line,
.most-read line {
    margin: 20px 0 50px;
  }

  .topics-list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  .load-more {
    margin: 50px 0 20px;
  }

  .subscribe form {
    margin: 20px 0 70px;
  }

  .footer-menu {
    margin: 65px 0;
  }
}
@media (min-width: 1200px) {
  .navigation {
    gap: 40px;
  }

  .slider-item-number {
    padding: 130px 0 45px;
    font-size: 30px;
  }

  .big-title {
    font-size: 89.9px;
  }

  .slider-item-titel {
    padding: 45px 10px;
  }

  .slider-number-prev,
.slider-number-next {
    font-size: 342.53px;
  }

  .slider-number-prev {
    left: -220px;
  }

  .slider-number-next {
    right: -140px;
  }

  .event-name {
    font-size: 30px;
  }

  .event-date {
    font-size: 16px;
  }

  .text-line {
    text-underline-offset: 4px;
  }

  .sound-player {
    padding: 34px;
    gap: 0 33px;
  }

  .hot-topics line,
.most-read line {
    margin: 50px 0 70px;
  }

  .load-more {
    margin: 70px 0 30px;
  }

  .most-read-article {
    grid-template-areas: "article article article article";
  }

  .subscribe form {
    margin: 20px 0 100px;
  }

  .footer-menu {
    margin: 85px 0;
  }
}

/*# sourceMappingURL=style.css.map */
